{
  "presets": [
    ["env", {
      "targets": {
        "node": 4.5
      }
    }],
    "stage-2",
    "next/babel",
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "inline-react-svg"
  ]
}
