{
  "presets": [
    ["env", {
      "targets": {
        "node": "8",
        "browsers": ["last 2 versions"]
      }
    }],
    "stage-2",
    "next/babel",
    "react",
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "inline-react-svg",
    "./other/babel-plugin-l10n-loader"
  ]
}
