{
  "extends": [
    "kentcdodds",
    "kentcdodds/react",
    "kentcdodds/jsx-a11y",
    "kentcdodds/jest",
    "kentcdodds/prettier"
  ],
  "rules": {
    "react/prop-types": "off",
    "func-style": "off",
    "max-len": "off",
    "import/no-dynamic-require": "off",
    "import/no-unresolved": "off",
    "eol-last": "off", // the crowdin stuff doesn't include a line ending 🙄
  }
}
